<div class="row mb-3">
  <div class="col-12">
    <h5>Добавить сотрудника</h5>
  </div>
</div>
<form [formGroup]="workerForm" (ngSubmit)="onAddWorker()">
  <div class="row mb-2">
    <div class="col-3">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" placeholder="Имя" formControlName="name" />
        <div class="alert alert-danger"
          *ngIf="workerForm.controls['name'].invalid && workerForm.controls['name'].touched">
          Не указано имя
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="surname">Фамилия</label>
        <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname" />
        <div class="alert alert-danger"
          *ngIf="workerForm.controls['surname'].invalid && workerForm.controls['surname'].touched">
          Не указана фамилия
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="number">Телефон</label>
        <input [textMask]="{mask: mask}" type="text" class="form-control" placeholder="+7__________"
          formControlName="number">
        <div class="alert alert-danger"
          *ngIf="workerForm.controls['number'].invalid && workerForm.controls['number'].touched">
          Некорректный номер телефона
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="type">Тип работника</label>
        <select class="form-control" formControlName="type">
          <option [ngValue]="myWorkerType.programmer">Программист</option>
          <option [ngValue]="myWorkerType.designer">Дизайнер</option>
          <option [ngValue]="myWorkerType.copywriter">Копирайтер</option>
          <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <button type="submit" class="btn btn-outline-primary btn-md" [disabled]="!workerForm.valid">Добавить</button>
    </div>
  </div>
</form>